.filterContainer {
    width: 400px;
    position: absolute;
    right: 0px;
    top: 50px;
    height: calc(100% - 60px);
    border: 1px solid #dfdfdf;
    background: #f1f1f1;

    .filterHeader {
        border-bottom: 1px solid #dfdfdf;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.5px;
        padding-top: 6px;
        padding-left: 15px;
        height: 28px;
        background-color: #15919b;
        color: #FFFFFF;
    }
    .filterBody {
        height: calc(100% - 60px);
        .commonField {
            width: 50%;
            height: 100%;
            float: left;
            border-right: 1px solid #dfdfdf;

            .listItems {
                list-style: none;

                .listItem {
                    border: 0px;
                    height: 25px;
                    line-height: 25px;
                    padding-left: 12px;
                    cursor: pointer;
                    border-bottom: 1px solid #dfdfdf;
                }
                .listItem.selected {
                    background-color: #ebebeb;;
                }
            }
        }

        .detailField {
            width: 50%;
            height: 100%;
            float: right;
        }
    }
    .filterFooter {
        clear: both;
        border-top: 1px solid #dfdfdf;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.5px;
        padding-top: 6px;
        padding-left: 15px;
        height: 28px;

        .filterApplyButton {
            cursor: pointer;
        }
    }
}