.listingContainer {
    .listingHeader {
        color: #FFFFFF;
        height: 35px;
        background: #000000;
        line-height: 35px;

        .tableColumn {
            min-width: 200px;
            border-right: 1px solid #FFFFFF;
            padding-left: 10px;
            padding-right: 10px;
            display: inline-block;
        }
    }

    .listingBody {
        .tableRow {
            height: 30px;
            line-height: 30px;
            .rowValue {
                display: inline-block;
                min-width: 200px;
                border-right: 1px solid #dfdfdf;
                border-bottom: 1px solid #dfdfdf;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    .listFilter {
        right: 0px;
        position: absolute;
        top: 0px;
        color: #FFFFFF;
        cursor: pointer;
    }
}